node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example
tsconfig.tsbuildinfo

# PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/worker-*.js
public/worker-*.js.map
